<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SiteCodeID" value="26"/>
    <add key="FilePath" value="D:\IIS\websites\Extarnet\SW-PCAT\IrconAssetIndexing\"/>
    <add key="AssetServer" value="http://test.support.fluke.com"/>
    <add key="FindItUrl" value="http://test.support.fluke.com/Find_It.asp?SRC=Ircon&amp;Style=26&amp;Document="/>
    <add key ="PublishType" value="Database" />
    <add key ="LogFilePath" value="" />
    <add key ="ProjectName" value="Ircon"/>

  </appSettings>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="errordbConn" connectionString="Initial Catalog=FnetManagement;Server=dtmflksvdb01.data.ib.fluke.com;Integrated Security=SSPI"/>
    <add name="WTBdbConn" connectionString="Initial Catalog=IrconWTB;Server=dtmflksvdb01.data.ib.fluke.com;Integrated Security=SSPI"/>
    <add name="KnowledgeBase" connectionString="Initial Catalog=FnetKB;Server=dtmflksvdb01.data.ib.fluke.com;Integrated Security=SSPI"/>
    <add name="FlukeSitewide" connectionString="Initial Catalog=Fluke_Sitewide;Server=flktst18.data.ib.fluke.com;UId=marcomweb;pwd=!?wwwProd1"/>
  </connectionStrings>
</configuration>