<style type="text/css">
<!--
Body    {
				font-family:arial, helvetica, sans-serif, verdana;
				color:#000000;
				font-size:x-small;
				}
TD      {
				font-family:arial, helvetica, sans-serif, verdana;
				color:#000000;
				font-size:x-small;
				}
.PlainText {
				font-family:arial, helvetica, sans-serif, verdana;
				color:#000000;
				font-size:x-small;
				}
.SmallText{
				font-family:arial, helvetica, sans-serif, verdana;
				color:#000000;
				font-size:8.5pt;
				}
.txtItalic {
        font-style : italic;
        }
.txtBold {
        font-weight : bold;
        }
.txtBoldItalic {
        font-weight : bold;
        font-style : italic;
        }      
.BlackHeadline {
				font-family:arial, helvetica, sans-serif, verdana;
				color:Black;
				font-size:18pt;
				text-decoration:none;
				font-weight:bold; 
				}
.BlueHeadline {
				font-family:arial, helvetica, sans-serif, verdana;
				color:#333399;
				font-size:18pt;
				text-decoration:none;
				font-weight:bold; 
				}
.PlusHeadline {
				font-family:arial, helvetica, sans-serif, verdana;
				color:#333399;
				font-size:18pt;
				text-decoration:none;
				font-weight:bold; 
				}
.BlackSubHead {
				font-family:arial, helvetica, sans-serif, verdana;
				color:Black;
				font-size:14pt;
				text-decoration:none;
				font-weight:bold; 
				}
.BlueSubHead {
				font-family:arial, helvetica, sans-serif, verdana;
				color:#333399;
				font-size:14pt;
				text-decoration:none;
				font-weight:bold; 
				}
 
.tblHeadline {
      font-family:arial, helvetica, sans-serif, verdana;
      font-weight: bold;
      color:#FFCC00;
      font-size:12pt;
      text-decoration:none;
      background-color: #000000;
      }
.tblItem {
      font-family:arial, helvetica, sans-serif, verdana;
      font-weight: bold;
      color:#000000;
      font-size:9pt;
      text-decoration:none;
      }
.tblSubject {
      font-family:arial, helvetica, sans-serif, verdana;
      font-weight: bold;
      color:#000000;
      font-size:9pt;
      text-decoration:none;
      }
.tblValue {
      font-family:arial, helvetica, sans-serif, verdana;
      font-weight: bold;
      color:#000000;
      font-size:9pt;
      text-decoration:none;
      }
      
.Background_LightGray{background-color:#EEEEEE;}
.Background_DarkGray{background-color:#CCCCCC;}

 .LinkHeadline{
				font-family:arial, helvetica, sans-serif, verdana;
				color:#333399;
				font-size:12pt;
				text-decoration:none;
				font-weight:bold; 
				}
 .LinkHeadline:hover{
				font-family:arial, helvetica, sans-serif, verdana;
				color:Blue; 
				font-size:12pt;
				text-decoration:underline;
				font-weight:bold; 
				}
 .CatTab {
        color:black; 
				font-size:11px; 
				font-family:arial, helvetica, sans-serif, verdana; 
				text-decoration:none;
				font-weight:bold; 
        }
  .CatTab:hover {
        Text-decoration:underline;
        }
 .BoldLink{
				font-family:arial, helvetica, sans-serif, verdana;
				color:#333399;
				font-size:x-small;
				text-decoration:none;
				font-weight:bold; 
				} 
 .BoldLink:hover{
				font-family:arial, helvetica, sans-serif, verdana;
				color:Blue; 
				font-size:x-small;
				text-decoration:underline;
				font-weight:bold; 
				}      
 .PlainLink{
				font-family:arial, helvetica, sans-serif, verdana;
				color:#333399;
				font-size:x-small;
				text-decoration:none;
				font-weight:none; 
				}
.PlainLink:hover{
				font-family:arial, helvetica, sans-serif, verdana;
				color:Blue; 
				font-size:x-small;
				text-decoration:underline;
				font-weight:none; 
				}
.SmallLink{
				font-family:arial, helvetica, sans-serif, verdana;
				color:#333399;
				font-size:8.5pt;
				text-decoration:none;
				font-weight:bold; 
				}
.SmallLink:hover{
				font-family:arial, helvetica, sans-serif, verdana;
				color:Blue; 
				font-size:8.5pt;
				text-decoration:underline;
				font-weight:bold; 
				}
.FeaturedLink	{
				font-family:arial, helvetica, sans-serif, verdana;
				color:white;
				font-size:8.5pt;
				text-decoration:none;
				font-weight:bold; 
				}
.FeaturedLink:hover{
				font-family:arial, helvetica, sans-serif, verdana;
				color:#ffcc00; 
				font-size:8.5pt;
				text-decoration:underline;
				font-weight:bold; 
				}
.FakeLink{
				font-family:arial, helvetica, sans-serif, verdana;
				color:blue;
				font-size:10pt;
				text-decoration:underline;
				cursor:hand;
				font-weight:bold;
				}
				        
.Nav:hover { 
				color:#ffcc00; 
				font-size:11px; 
				font-family:arial, helvetica, sans-serif, verdana;  
				text-decoration:none; 
				font-weight:bold; 
				}
.Nav 		{ 
				color:white; 
				font-size:11px; 
				font-family:arial, helvetica, sans-serif, verdana; 
				text-decoration:none;
				font-weight:bold; 
				}
.HNav:hover { 
				color:Black; 
				font-size:11px; 
				font-family:arial, helvetica, sans-serif, verdana;  
				text-decoration:none; 
				font-weight:bold; 
				}
.HNav 	{ 
				color:black;  
				font-size:11px; 
				font-family:arial, helvetica, sans-serif, verdana; 
				text-decoration:none;
				font-weight:bold; 
				}
.GetMoreNav:hover { 
				color:blue; 
				font-size:11px; 
				font-family:arial, helvetica, sans-serif, verdana;  
				text-decoration:none; 
				font-weight:bold; 
				}
.GetMoreNav { 
				color:black; 
				font-size:11px; 
				font-family:arial, helvetica, sans-serif, verdana; 
				text-decoration:none;
				font-weight:bold; 
				}		


.PrdPlainText    {
				font-family:arial, helvetica, sans-serif, verdana;
				color:#000000;
				font-size:x-small;
				text-decoration:none;
				font-weight:normal;
				}
.PrdItalicText    {
				font-family:arial, helvetica, sans-serif, verdana;
				color:#000000;
				font-size:x-small;
				text-decoration:none;
        font-style:italic;
				}
.PrdBoldText    {
				font-family:arial, helvetica, sans-serif, verdana;
				color:#000000;
				font-size:x-small;
				text-decoration:none;
				font-weight:bold;
				}
.PrdSpecHeadline {
      font-family:arial, helvetica, sans-serif, verdana;
      font-weight: bold;
      color:#FFCC00;
      font-size:10pt;
      text-decoration:none;
      background-color: #000000;
      vertical-align: top;
      }
.PrdSpecItem {
      font-family:arial, helvetica, sans-serif, verdana;
      font-weight: bold;
      color:#000000;
      font-size:9pt;
      text-decoration:none;
      vertical-align: top;
      }
.PrdSpecSubject {
      font-family:arial, helvetica, sans-serif, verdana;
      font-weight: bold;
      color:#000000;
      font-size:9pt;
      text-decoration:none;
      vertical-align: top;
      }
.PrdSpecValue {
      font-family:arial, helvetica, sans-serif, verdana;
      color:#000000;
      font-size:9pt;
      text-decoration:none;
      vertical-align: top;
	    padding-left: 5;
      }
.PrdMOAHeadline {
      font-family:arial, helvetica, sans-serif, verdana;
      font-weight: bold;
      color:#FFCC00;
      font-size:10pt;
      text-decoration:none;
      background-color: #000000;
      vertical-align: bottom;
      }      
.MOALink{
				font-family:arial, helvetica, sans-serif, verdana;
				color:#333399;
				font-size:x-small;
				font-weight:none; 
				}
.MOALink:hover{ color: blue;}
.PrdItal{font-style:italic;}
.PrdSub{vertical-align:sub;}
.PrdSup{vertical-align:super;font-size:8pt;}
.PrdSym{font-family:symbol;}
.Prdtextxsml{super;font-size:7pt;}
.PrdRight {text-align: right}
      
      

.SearchTitle { 
				color:#FFCC00; 
				font-size:8pt; 
				font-family:arial, helvetica, sans-serif, verdana;  
				text-decoration:none; 
				font-weight:bold; 
				}	
.copywrite {
				font-family:arial, helvetica, sans-serif, verdana;
				color:#000000;
				font-size:8.5pt;
				text-decoration:none;
      }
.requiredTD		{
				background-color : #cccccc;
				font-size: 10pt; 
				font-weight:bold; 
				font-family:Verdana, Arial, Helvetica, sans-serif;  
				}
        
.smlPlusLink{
				font-family:arial, helvetica, sans-serif, verdana;
        font-size:xx-small;
				color:#336699;
				text-decoration:underline;
        font-style:italic;
				}			
.smlPlusLink:hover{
				font-family:arial, helvetica, sans-serif, verdana;
        font-size:xx-small;
				color:#996600; 
				text-decoration:underline;
        font-style:italic;
				}
.smlPlusLink:visited{
				font-family:arial, helvetica, sans-serif, verdana;
        font-size:xx-small;
				color:#996600; 
				text-decoration:underline;
        font-style:italic;
				}	
 .hlpPlusLink{
				font-family:arial, helvetica, sans-serif, verdana;
        font-size:xx-small;
				color:white;
				text-decoration:underline;
  			}			
 .hlpPlusLink:hover{
				font-family:arial, helvetica, sans-serif, verdana;
        font-size:xx-small;
				color:#666633; 
				text-decoration:underline;
   			}
.hlpPlusLink:visited{
				font-family:arial, helvetica, sans-serif, verdana;
        font-size:xx-small;
				color:#336699; 
				text-decoration:underline;
    			}	      
		
        				
.PlusLink{
				font-family:arial, helvetica, sans-serif, verdana;
				color:#336699;
				font-size:x-small;
				text-decoration:underline;
				font-weight:bold; 
				}
.PlusLink:hover{
				font-family:arial, helvetica, sans-serif, verdana;
				color:#996600; 
				text-decoration:underline;
				font-weight:bold; 
				}
.PlusLink:visited{
				font-family:arial, helvetica, sans-serif, verdana;
				color:#996600; 
				text-decoration:underline;
				font-weight:bold; 
				}			
.PlusHeadline {
				font-family:arial, helvetica, sans-serif, verdana;
				color:#996600;
				font-size:18pt;
				text-decoration:none;
				font-weight:bold; 
				}				
.PlusNav:hover { 
				color:#999966; 
				font-size:11px; 
				font-family:arial, helvetica, sans-serif, verdana;  
				text-decoration:none; 
				font-weight:bold; 
				}
.PlusNav 		{ 
				color:white; 
				font-size:11px; 
				font-family:arial, helvetica, sans-serif, verdana; 
				text-decoration:none;
				font-weight:bold; 
				}
.Pluslog 		{ 
				color:#666600; 
				font-size:11px; 
				font-family:arial, helvetica, sans-serif, verdana; 
				text-decoration:none;
				font-weight:bold; 
				}		
.Plusfield 		{ 
				color:white; 
				font-size:9px; 
				font-family:arial, helvetica, sans-serif, verdana; 
				text-decoration:none;
				font-weight:bold; 
				}	
.PHBorder		{ 
				border-top:thin;
				border-bottom:thin;
				border-left:thin;
				border-right:thin; 
				}	
	
.Plusnew:hover { 
				color:#666600; 
				font-size:11px; 
				font-family:arial, helvetica, sans-serif, verdana;  
				text-decoration:none; 
				font-weight:bold; 
				}
.Plusnew 		{ 
				color:white; 
				font-size:11px; 
				font-family:arial, helvetica, sans-serif, verdana; 
				text-decoration:none;
				font-weight:bold; 
				}
.Plusbutton 		{ 
				color:#666600; 
				font-size:11px; 
				font-family:arial, helvetica, sans-serif, verdana; 
				text-decoration:none;
				font-weight:bold; 
				}	
.Text1
{
    COLOR: black;
    FONT-FAMILY: arial, helvetica, sans-serif, verdana;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: normal;
}
.TextSmall
{
    COLOR:#333399;
    FONT-FAMILY: arial, helvetica, sans-serif, verdana;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: normal;
    text-decoration:none;
 
}
.Text1Bold
{
    COLOR: black;
    FONT-FAMILY: arial, helvetica, sans-serif, verdana;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bold;
}
.Option
{
    COLOR: black;
    FONT-FAMILY: arial, helvetica, sans-serif, verdana;
    FONT-SIZE: 6.5pt;
    FONT-WEIGHT: normal
}

				
-->
</style>
