<?xml version="1.0" encoding="utf-8"?>
<dataConfiguration>
  <xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null">
    <enterpriseLibrary.databaseSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" defaultInstance="Default" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/data">
      <databaseTypes>
        <databaseType name="Sql Server" type="Microsoft.Practices.EnterpriseLibrary.Data.Sql.SqlDatabase, Microsoft.Practices.EnterpriseLibrary.Data, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null" />
      </databaseTypes>
      <instances>
        <instance name="Default" type="Sql Server" connectionString="FnetManagement" />
        <instance name="EventManagementSystem" type="Sql Server" connectionString="OnyxCRM" />
        <instance name="GoldCalculator" type="Sql Server" connectionString="OnyxCRM" />
        <instance name="KnowledgeBase" type="Sql Server" connectionString="KnowledgeBase" />
        <instance name="Logging" type="Sql Server" connectionString="FnetManagement" />
        <instance name="Membership" type="Sql Server" connectionString="Membership" />
        <instance name="OnyxCRM" type="Sql Server" connectionString="OnyxCRM" />
        <instance name="ProductEngine" type="Sql Server" connectionString="ProductEngine" />
        <instance name="SMTPMailQueue" type="Sql Server" connectionString="SMTPMailQueue" />
        <instance name="TranslationEngine" type="Sql Server" connectionString="TranslationEngine" />
        <instance name="WhereToBuy" type="Sql Server" connectionString="WhereToBuy" />
        <instance name="FlukeSitewide" type="Sql Server" connectionString="Assets" />
      </instances>
      <connectionStrings>
        <connectionString name="FnetManagement">
          <parameters>
            <parameter name="database" value="FnetManagement" isSensitive="false" />
            <parameter name="Integrated Security" value="True" isSensitive="false" />
            <parameter name="server" value="dtmflkmsql04.data.ib.fluke.com" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="KnowledgeBase">
          <parameters>
            <parameter name="database" value="FnetKB" isSensitive="false" />
            <parameter name="Integrated Security" value="True" isSensitive="false" />
            <parameter name="server" value="dtmflkmsql04.data.ib.fluke.com" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="Membership">
          <parameters>
            <parameter name="database" value="Membership" isSensitive="false" />
            <parameter name="Integrated Security" value="True" isSensitive="false" />
            <parameter name="server" value="dtmflkmsql04.data.ib.fluke.com" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="OnyxCRM">
          <parameters>
            <parameter name="database" value="Onyxprd" isSensitive="false" />
            <parameter name="Integrated Security" value="True" isSensitive="false" />
            <parameter name="server" value="dtmflkmsql01.data.ib.fluke.com" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="ProductEngine">
          <parameters>
            <parameter name="database" value="ProductEngine2" isSensitive="false" />
            <parameter name="Integrated Security" value="True" isSensitive="false" />
            <parameter name="server" value="dtmflkmsql04.data.ib.fluke.com" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="SMTPMailQueue">
          <parameters>
            <parameter name="database" value="SMTPMailQueue" isSensitive="false" />
            <parameter name="Integrated Security" value="True" isSensitive="false" />
            <parameter name="server" value="dtmflkmsql01.data.ib.fluke.com" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="TranslationEngine">
          <parameters>
            <parameter name="database" value="TranslationEngine" isSensitive="false" />
            <parameter name="Integrated Security" value="True" isSensitive="false" />
            <parameter name="server" value="dtmflkmsql04.data.ib.fluke.com" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="WhereToBuy">
          <parameters>
            <parameter name="database" value="FnetWTB" isSensitive="false" />
            <parameter name="Integrated Security" value="True" isSensitive="false" />
            <parameter name="server" value="dtmflkmsql04.data.ib.fluke.com" isSensitive="false" />
          </parameters>
        </connectionString>
	<connectionString name="Assets">
          <parameters>
            <parameter name="database" value="Fluke_Sitewide" isSensitive="false" />
            <parameter name="Integrated Security" value="False" isSensitive="false" />
            <parameter name="PWD" value="tuggy_boy" isSensitive="true" />
            <parameter name="UID" value="SITEWIDE_WEB" isSensitive="false" />
            <parameter name="server" value="flkprd18.data.ib.fluke.com" isSensitive="false" />
          </parameters>
        </connectionString>
      </connectionStrings>
    </enterpriseLibrary.databaseSettings>
  </xmlSerializerSection>
</dataConfiguration>