<!--<?xml version="1.0"?>-->

<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <appSettings>
    <add key="LoginServer" value="http://www.prd.flukenetworks.com/fnet/en-us/" />
  </appSettings>
  <connectionStrings>
    <add name="MyAspNetDB" connectionString="integrated security=SSPI;data source=dtmflkmsql04.data.ib.fluke.com;initial catalog=Membership" />
    <add name="AssetDB" connectionString="Data Source=flkprd18.data.ib.fluke.com;Initial Catalog=Fluke_SiteWide;User ID=SITEWIDE_WEB;Password=tuggy_boy" />
  </connectionStrings>
	<system.web>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" connectionStringName="MyAspNetDB" applicationName="FNet_www" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" connectionStringName="MyAspNetDB" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="FNet_www" requiresUniqueEmail="false" passwordFormat="Hashed" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </membership>    
		<compilation debug="true" strict="false" explicit="true" />
		<pages>
			<namespaces>
				<clear />
				<add namespace="System" />
				<add namespace="System.Collections" />
				<add namespace="System.Collections.Specialized" />
				<add namespace="System.Configuration" />
				<add namespace="System.Text" />
				<add namespace="System.Text.RegularExpressions" />
				<add namespace="System.Web" />
				<add namespace="System.Web.Caching" />
				<add namespace="System.Web.SessionState" />
				<add namespace="System.Web.Security" />
				<add namespace="System.Web.Profile" />
				<add namespace="System.Web.UI" />
				<add namespace="System.Web.UI.WebControls" />
				<add namespace="System.Web.UI.WebControls.WebParts" />
				<add namespace="System.Web.UI.HtmlControls" />
			</namespaces>
		</pages>
    
		<authentication mode="Windows" />
    <identity impersonate="true" userName="data\fnet.assets" password="ubmnro27*#TIV67" />
    <customErrors mode="Off" />
    <httpHandlers>
      <add verb="*" path="*.asp" type="AssetReqHandlerFactory, App_Code" />      
    </httpHandlers>
	</system.web>
    <system.webServer>
        <asp appAllowClientDebug="true" appAllowDebugging="true" enableParentPaths="true" scriptErrorSentToBrowser="true" />
    </system.webServer>
</configuration>
