<appSettings>
 <!-- <add key="ConnStr_DTMPortal" value="server=dtmflksvdb01.data.ib.fluke.com;database=DTM_Portal;uid=DTMPortal_User;pwd=DTMWh0?"/>
  <add key="ConnStr_PCAT" value="server=dtmflksvdb01.data.ib.fluke.com;database=PCAT2Authoring;uid=webteam_admin;pwd=Njabbim.17.%"/>
  <add key="ConnStr_PCAT_Authoring" value="server=dtmflksvdb01.data.ib.fluke.com;database=PCAT2Authoring;uid=webteam_admin;pwd=Njabbim.17.%"/>
  <add key="ConnStr_FlukeSiteWide" value="Initial Catalog=Fluke_SiteWide;Server=FLKTST18.DATA.IB.FLUKE.COM; UId=SITEWIDE_WEB; pwd=tuggy_boy"/>
 -->
  
  
    <add key="ConnStr_DTMPortal" value="server=dtmflkmsql04.data.ib.fluke.com;database=DTM_Portal;uid=DTMPortal_User;pwd=DTMWh0?"/>
  <add key="ConnStr_PCAT" value="server=dtmflkmsql04.data.ib.fluke.com;database=PCAT2Authoring;uid=webteam_admin;pwd=Njabbim.17.%"/>
  <add key="ConnStr_PCAT_Authoring" value="server=dtmflkmsql04.data.ib.fluke.com;database=PCAT2Authoring;uid=webteam_admin;pwd=Njabbim.17.%"/>
  <add key="ConnStr_FlukeSiteWide" value="Initial Catalog=Fluke_SiteWide;Server=Us-dat-sql02-p.data.ib.fluke.com; UId=SITEWIDE_WEB; pwd=tuggy_boy"/>

  <add key="BrandName" value="FNet" />
  <add key="FnetBrandID" value="1" />
  <add key="SiteID" value="82" />
  <add key="locales" value="en-us,en-sg,en-ca,en-au,en-tw,en-tt,en-in"/>
</appSettings>